@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy describes how Prestige World Wide Wide Wide ("we", "us", or "our") collects, uses, and shares information when you use our website FigueroaCrafts.Azurewebsite.net (the "Site").</p>

<h2>Information We Collect</h2>

<h3>Personal Information</h3>

<p>When you visit the Site, we may collect certain personal information about you, such as your name, email address, postal address, phone number, or other contact details. We collect this information only when you voluntarily provide it to us, for example, when you fill out a contact form, subscribe to our newsletter, or make a purchase.</p>

<h3>Non-Personal Information</h3>

<p>We may also collect non-personal information about your visit to the Site, such as your IP address, browser type, device information, and website usage data. This information is collected automatically through cookies and similar tracking technologies and is used to analyze trends, administer the site, track users' movements around the site, and gather demographic information about our user base as a whole.</p>

<h2>How We Use Your Information</h2>

<p>We may use the information we collect for various purposes, including:</p>
<ul>
    <li>To provide, operate, and maintain the Site</li>
    <li>To respond to your inquiries, questions, and requests</li>
    <li>To send you marketing communications, newsletters, and other promotional materials</li>
    <li>To improve our products, services, and website functionality</li>
    <li>To prevent fraud and enhance the security of our website</li>
</ul>

<h2>Information Sharing and Disclosure</h2>

<p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy. We may share your information with trusted third-party service providers who assist us in operating our website, conducting our business, or servicing you.</p>

<h2>Data Retention</h2>

<p>We will retain your personal information only for as long as necessary to fulfill the purposes for which it was collected and to comply with applicable laws and regulations.</p>

<h2>Your Rights</h2>

<p>You have the right to access, correct, update, or delete your personal information at any time. You may also opt-out of receiving marketing communications from us by following the unsubscribe instructions provided in the email or contacting us directly.</p>

<h2>Changes to This Privacy Policy</h2>

<p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be posted on this page with a revised effective date. We encourage you to review this Privacy Policy periodically for any updates.</p>

<h2>Contact Us</h2>

<p>If you have any questions or concerns about this Privacy Policy, please contact us at Figueroa.Jorge20@gmail.com.</p>
